
body, html {
    line-height: 1;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.clear-fix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}


/* .el-button:active,.el-button:hover{
    background: @mColor;
    color: #fff;
} */

// 整体容器
.container {
  width: 1200px;
  margin: 0 auto;
}
