$color-main = #28bfac;
$color-base-text = #222222;
$color-main-text = #999999;
$color-base-background = #FFFFFF;
$color-main-background = #F8F8F8;
$color-background-1 = #fbc700;
$color-background-2 = #ed1e24;
$color-background-3 = #f04d4e;
$color-background-4 = #fdc411;
$color-main-border = #E5E5E5;
// 字体定义规范
$font-size-s = 10px;
$font-size-sx = 12px;
$font-size-m = 14px;
$font-size-mx = 16px;
$font-size-l = 18px;
$font-size-lx = 22px;