$color-main = gold;
// $color-main-opacity3 = rgba();
$color-1 = #ed1e24;
$color-2 = #f04d4e;
$color-3 = #fdc411;
$color-4 = #658FF7;
$color-text = #333333;
$color-border = #E5E5E5;
$color-background = #F8FCEE;
$color-menu = #545c64;
// 字体定义
$fs-s = 10px;
$fs-xs = 12px;
$fs-m = 14px;
$fs-xm = 16px;
$fs-xl = 18px;
$fs-l = 22px;
$fs-title = 32px;
